.v-body {
    position: relative;
    width: 100%;
    height: 90vh;
    background: radial-gradient(
        30% 50% at 50% 70%,
        rgba(50, 187, 120, 0.7) 0%,
        rgba(217, 217, 217, 0) 100%
    );
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.v-body::before {
    content: "";
    position: absolute;
    width: 960.37px;
    height: 480.25px;
    background: linear-gradient(#5f5ffa, #32bb78, #32bb78, #48c286, #33a6f9);
    border-radius: 50%;
    left: 653.22px;
    top: -154.25px;
    filter: blur(90px);
    opacity: 40%;
}

.v-body::after {
    content: "";
    position: absolute;
    width: 1212.63px;
    height: 488.3px;
    border-radius: 50%;
    background: linear-gradient(
        180deg,
        #b3ffdf,
        #9747ff,
        #c79bff,
        #9747ff,
        #fdcd49
    );
    left: -257.95px;
    top: -214.88px;
    filter: blur(90px);
    opacity: 60%;
}

.v-body section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    z-index: 10;
}
.v-body .login-container {
    background-color: #ffff;
    width: 510px;
    /* width: 40%; */
    height: 505px;
    text-align: center;
    border-radius: 32px;
    padding: 40px 32px 40px 32px;
    position: absolute;
    /* top: 10%;
    left: 30%; */
}

.v-body .Title {
    font-size: 28px;
    font-weight: 700;
    color: #2f313f;
    margin-bottom: 8px;
}

.v-body .p-1 {
    font-size: 16px;
    font-weight: 400;
    color: #818391;
}
.v-body .p-2 {
    font-size: 16px;
    font-weight: 400;
    color: #2f313f;
}
.v-body .p-3 {
    font-size: 16px;
    font-weight: 500;
    color: #818391;
    margin-top: 4px;
}
.v-body .p-4 {
    font-size: 16px;
    font-weight: 600;
    color: #32bb78;
    margin-top: 0%;
}
.v-body .p-4:hover {
    text-decoration: underline #32bb78;
    cursor: pointer;
}

.v-input-box {
    width: 80%;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 38px;
}

.v-input {
    width: 15%;
    height: 48px;
    background-color: #f4f4f6;
    border-radius: 8px;
    padding: 14px, 15px, 15px, 15px;
}
.v-input:hover {
    border: 1px solid #32bb78;
}

.v-body .button-1 {
    background-color: #32bb78;
    height: 56px;
    width: 100%;
    border-radius: 9px;
    padding: 11px;
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #ffff;
    cursor: pointer;
    outline: none;
}

@media (max-width: 510px) {
    .v-body .login-container {
        width: 100%;
        height: 90vh;
        border: none;
        border-radius: 0;
    }
    /* .input-box{
        width: 290px;
    } */
    .v-body .eyeIcon {
        position: absolute;
        top: 24%;
        right: 10%;
    }
}
@media (max-width: 420px) {
    .v-body .login-container {
        width: 100%;
        height: 90vh;
        border: none;
        border-radius: 0;
    }
    .v-body .p-4 {
        font-size: 11px;
    }
    .v-body .p-3 {
        font-size: 11px;
    }
    .v-body .p-2 {
        font-size: 13px;
    }
    .v-body .p-1 {
        font-size: 11px;
    }
    .v-body .eyeIcon {
        display: none;
    }
}
